@model List<Movie>
@{
    ViewData["Title"] = "Movies";
}

<div class="text-center">
    <h1 class="display-4">Movies</h1>
    <a asp-action="CreateMovie" asp-controller="Movies" role="button" class="btn btn-primary">Create Movie</a>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count()<=0){
        <tr>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
        </tr>
        }
        @foreach (Movie item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Genre</td>
            <td>@item.Price</td>
        </tr>
            
        }
        
       
    </tbody>
</table>